/* COMMIT GENEROS Y EDITORIALES EDIT FIXED ESTÁ CÓMO LE QUEDÓ A ALAN */

.menu{
  overflow-y: scroll;
  overflow-x: hidden;
  background-repeat: repeat;
}
.background-overlay{
  height: max-content;
  background-repeat: repeat;
}
.card{
  height: 65%;
  display: flex;
  align-content:  center;
  border: 1px solid black
}
.cb2{
  width: 400px;

}
.card-header{
  display:flex;
  align-items:center;
  justify-content: center;
  height: 15%;
  background-color: black;
  border: 2px solid black;
  border-radius: 0px;
  width: 100%;
  color: white;
}
.tarjetasanidadas{
  overflow-y: scroll;
  height: 600px;
}
.tarjetaanidada-una{
  border-style: solid;
  border-radius: 0px;
  border: 10px;
}
.card1{
  max-height: 300px;
  margin-bottom: 40px;
  overflow-y: scroll;
}
.cb1{
  height: 180px;

}
.libro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}
.libro a{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imagen{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.imagen img{
  width: 100px;
  height: 155px;
}
.libros{
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*.libros:hover{
  text-decoration: none;
  color: red;
  font-weight: bold;
}*/
/*.titulo:hover{
  font-weight: bold;
}*/
