.menu{
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: 100% 1115px;
  background-repeat: repeat;
}
.background-overlay{
  height: max-content;
  background-repeat: repeat;
}
h4{
  margin-bottom: 20px;
}
.btn-general:hover{
  font-weight: bold;
  background-color: black;
  color: red;
  border-color: black;
}
.btn-general{
  width: 40%;
}
.boton {
  display: flex;
  justify-content: center;
}
.columnas{
  display: grid;
  grid-template-columns: 50% 50%;
}
.izquierda{
  display: flex;
  flex-direction: column;
}
.derecha{
  display: flex;
  flex-direction: column;
}
.banco{
  margin-left: 23px;
  margin-bottom: 70px;
}