.menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: repeat;
}
.background-overlay{
    min-height: 100vh;
    height: max-content;
    background-repeat: repeat;
}
.cont{
    position: relative;
}
.cb2{
    height: 430px;
    margin-right: 10px;
    width: 300px;
    position: fixed;
    margin-left: 35px;
}
.cbderecha{
    margin-left: 390px;
    min-width: 850px;
    min-height: 431px;
}
.card-header{
    display: flex;
    justify-content: center;
}
.tarjetasanidadas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.filtro{
    /*height: 30px;*/
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    height: 70px;
}
select{
    margin-right: 10px;
}
.nombre-filtro{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}
.verde{
    background-color: rgb(212, 237, 218);
}
.card{
    max-width: 895px;
}
.libros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*.libro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
.libro a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/
.libro{
    display: flex;
    flex-direction: column;
    margin: 14px;
  }
  .libro a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    justify-items: center;
  }
  .titulo{
    display: flex;
    justify-content: center;
  }
.imagen{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.imagen img{
    width: 100px;
    height: 155px;
}

/*boton*/
.botones{
    display: flex;
    justify-content: space-evenly;
}
.btn-info{
    margin-top: 30px;
    width: 110px;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
