/* COMMIT GENEROS Y EDITORIALES EDIT FIXED ESTÁ CÓMO LE QUEDÓ A ALAN */

.clasificacion{
    direction: lft;
    unicode-bidi: bidi-override;
}
.menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: repeat;
}
.background-overlay{
    height: max-content;
    background-repeat: repeat;
}

.cb{
    display: grid;
    grid-template-rows: 1fr min-content;
}
.fila1{
    display: flex;
    flex-direction: row;
}
.portada{
    display: flex;
    flex-direction: column;
}
.portada img{
    margin-bottom: 20px;
    width: 200px;
    height: 253px;
}
.titulo{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.titulo h3{
    margin-left: 30px;
}
.desctrailer{
    margin-left: 60px;
    margin-top: 15px;
    width: 700px;
}
.continuarleyendo{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.continuarleyendo a{
    font-weight: bold;
    color: red;
}
.vermas{
    margin-left: 60px;
    margin-top: 15px;
    width: 700px;
}
.vermas p{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    
}
.vermas p a{
    color: red;
}
.closea{
    margin-top: 15px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
.closea a{
    color: red;
}
.titcapitulos{
    margin-left: 60px;
    margin-bottom: 20px;
}
.capitulos{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cap{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    width: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cap i{
    margin-left: 10px;
}
.derecha .card{
    margin-top: 0;
    margin-bottom: 20px;
}
.derecha{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 300px;
}
.fav{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.fav form button{
    width: 200px;
    color: red;
}
.valoracion{
    display: flex;
    justify-content: center;
}
.calificar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.comentarios h3{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.com{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
.com textarea{
    margin-top: 10px;
    width: 800px;
}
.comentar form{
    margin-top: 30px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
.comentar textarea{
    margin-top: 10px;
    width: 800px;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-right: 395px;
}
.botonvolver{
    display: flex;
    justify-content: flex-start ;
    margin-bottom: 20px;
    margin-left: 170px;
}
.botonvolver a{
    
    width: 140px;
    height: 45px;
}
.yacomente{
    margin-left: 150px;
}



/*boton*/
.btn{
    margin-top: 30px;
    width: 110px;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
