.card{
    height: 60%
}
.card-body{
    height: 300px;
    max-height: 600px;
}
.alert{
    height: 25px;
}
.contenedor-items{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.item1{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 5px 0px;
}
.item2{
    padding: 5px 0px;
    display: grid;
    grid-template-columns: 15% 85%;
}
.nombre{
    width: 100%;
    display: flex;
    justify-content: center;
}
.texto{
    width: 95%;
    display: flex;
    justify-content: center;
}
.item3{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.item3 input{
    width: 160px;
}
.item3 a{
    width: 90px;
}
.labels{
    width: 95%;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
