.btn-general:hover{
  font-weight: bold;
  background-color: black;
  color: red;
  border-color: black;
}
.btn-general{
  width: 40%;
}
.boton {
  display: flex;
  justify-content: center;
}
.columnas{
  display: grid;
  grid-template-columns: 50% 50%;
}
.izquierda{
  display: flex;
  flex-direction: column;
}
.derecha{
  display: flex;
  flex-direction: column;
}