.card{
    border: 2px solid black;
}
.card-header{
    background-color: black; 
    color: white; 
    border: 2px solid black;
}
.card-body{
    background-color: white;
}
.d-inline-block{
    width: 200px; 
    height: 150px;
}
.perfiles{
    text-decoration: none;
    color: red;
}
.perfiles:hover{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
