/*.card-header{
    display: flex;
    justify-content: space-between;
}
h3{
    display:flex;
}
.nav-link{
    display: flex;
    align-content: center;
}*/
.encabezado{
    grid-template-columns: 70% 15% 15%;
}
.elemento{
    grid-template-columns: 70% 15% 15%;
}
.boton a{
    width: 160px;
}
