.menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: repeat;
}
.background-overlay{
    height: max-content;
    background-repeat: repeat;
}
.col-md-8{
    display: flex;
    justify-content: center;
}
.card{
    width: 782px;
}
.card-header{
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
}
.texto{
    margin-bottom: 10px;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 10px;
}
.boton button{
    width: 100px;   
}