.card-header{
    display:flex; 
    justify-content: space-between;
}
h3{
    display: flex;
}
.nav-link{
    display: flex; 
    align-content: center;
}
.card-body{
    display: flex;
    justify-content: space-between;
}
.btn-info{
    width: 140px;
    border-color: black;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
/*.btn:active{
    background-color: red;
}
.btn.btn-info:active{
    background-color: red;
}
a:active{
    background-color: red;
}*/
@media (max-width:1143px){
    .card-body{
      height: 505px;
      flex-direction: column;
    }
    .elem{
        display: flex;
        justify-content: center;
    }
}