.card-header{
    display:flex; 
    justify-content: space-between;
}
h3{
    display: flex;
}
.nav-link{
    display: flex; 
    align-content: center;
}
.card-body{
    display: flex;
    justify-content: space-between;
}
.btn-info{
    width: 140px;
}