.card{
    border: 2px solid black;
}
.card-header{
    background-color: black; 
    color: white; 
    border: 2px solid black;
}
.card-body{
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 350px;
}
.d-inline-block{
    width: 200px; 
    height: 150px;
}
.perfiles{
    text-decoration: none;
    color: red;
}
.perfiles img{
    max-width: 200px;
    max-height: 200px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 200px;
}
.perfiles:hover{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
h4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    width: 120px;
}
.boton{
    display: flex;
    justify-content: center;
}