.background-overlay{
    height: 100%;
}
.nombre{
    display: flex;
    flex-direction: row;
}
.nombre input{
    margin-left: 15px;
    width: 550px;
}
.imagen{
    margin-top: 15px;
}
.imagen input{
    margin-left: 17px;
    max-width: 550px;
}
.boton{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 110px;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
