.background-overlay{
  height: 100%;
  background-repeat: repeat;
}
.botones-login{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
  }
  .btn-general{
    width: 30%;
  }
  .card-header{
    color: white;
  }