.menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: repeat;
}
.background-overlay{
    height: 100%;
    background-repeat: repeat;
}
form{
    margin-bottom: 10px;
}
.titcap{
    margin-left: 15px;
}
.label-cap{
    margin-right: 15px;
}
.input-titcap{
    margin-left: 5px;
    margin-right: 15px;
    width: 350px;
}
.boton-editar{
    margin-left: 50px;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info{
    width: 100px;
    border-color: black;
}
.btn-warning{
    width: 100px;
}