.menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: repeat;
}
.background-overlay{
    min-height: 100vh;
    height: max-content;
}
  .card{
    display: flex;
    align-content:  center;
    border: 1px solid black
  }
  .card-header{
    display:flex;
    align-items:center;
    justify-content: center;
    /*height: 15%;*/
    background-color: black;
    border: 2px solid black;
    border-radius: 0px;
    width: 100%;
    color: white;
  }
  .libro{
    display: flex;
    flex-direction: column;
    margin: 14px;
  }
  .libro a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    justify-items: center;
  }
  .imagen{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .imagen img{
    width: 100px;
    height: 155px;
  }
  .libros{
      margin: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .titulo{
    display: flex;
    justify-content: center;
  }



  /*boton*/
.boton-volver{
  display: flex;
  justify-content: flex-end;
}
.btn-info{
    margin: 30px;
    width: 110px;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
