.card{
    height: 100%;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
h3{
    display:flex;
}
.nav-link{
    display: flex;
    align-content: center;
}
.tarjetasanidadas{
    overflow-y: scroll;
    max-height: 650px;
}
