.card{
    width: 95%;
}
.encabezado{
    grid-template-columns: 11% 18% 9% 13% 15% 15% 8% 9%;
    
}
.elemento{
    grid-template-columns: 11% 18% 9% 13% 15% 15% 8% 9%;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bot{
    width: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bot1{
    background-color: black;
    color: white;
}
.bot:hover{
    color: white;
    font-weight: bold;
}