.menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: repeat;
}
.background-overlay{
    min-height: 100vh;
    height: max-content;
    background-repeat: repeat;
}
.col-md-9{
    display: flex;
    justify-content: center;
}
.card{
    width: 100%;
}
.favoritos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.libro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}
.arriba{
    display: flex;
    justify-content: center;
}
.libro a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagen{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.imagen img{
    width: 100px;
    height: 155px;
}
.abajo{
    margin-top: 10px;
    display: flex;
    justify-content: stretch;
}

/*boton*/
.btn-info{
    margin-top: 30px;
    width: 200px;
}
.btn.btn-info:hover{
    background-color: black;
    border-color: black;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle{
    color: red;
    background-color: black;
    border-color: black;
}
.btn-info.focus, .btn-info:focus{
    color: red;
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus{
    box-shadow: none;
}
.btn.btn-info:active{
    color: red;
    background-color: black;
    border-color: black;
}
